*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 62.5%; }

.main {
  padding: 6rem 11rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }

.heading-secondary {
  text-transform: capitalize; }
  .heading-secondary--small {
    font-size: 2rem; }
  .heading-secondary--big {
    font-size: 3.5rem; }

.heading-tertiary {
  text-transform: uppercase; }

aside[class*="category_name"] {
  color: orange;
  padding: 1.5rem 0;
  text-transform: uppercase; }

.headlines {
  padding: 2rem 0; }

.banner-box {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner-box--recettes {
    background-image: url(../img/baking.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; }

.recipes-list {
  display: flex;
  flex-direction: column; }
  .recipes-list__items {
    display: flex;
    height: 31rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eaeaea; }
  .recipes-list__image-box {
    width: 40%;
    height: 100%; }
  .recipes-list__image {
    width: 100%;
    height: 100%; }
  .recipes-list__content-box {
    width: 60%;
    padding-left: 3rem; }

.recipes-info {
  display: flex; }
  .recipes-info__category_name {
    padding: 0 !important; }
  .recipes-info__date::before {
    content: '';
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 2rem; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "slider" "footer"; }

.header {
  grid-area: header; }

.banner {
  height: 18rem;
  background-image: url(../img/almond.jpg);
  background-size: cover;
  background-position: center; }

.navigation {
  height: 7rem;
  border: 2px solid #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .navigation__list {
    display: flex;
    flex-direction: row;
    list-style: none; }
  .navigation__item {
    margin-right: 2rem; }

.main--home {
  grid-area: main; }

.center {
  background-color: yellow;
  height: 60rem; }
  .center__image-box {
    height: 100%; }

.center__image {
  object-fit: center;
  height: 100%;
  width: 100%; }

.slider {
  grid-area: slider;
  justify-content: center;
  margin-top: 3rem; }
  .slider__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .slider__list {
    display: flex;
    width: 100%; }
  .slider__items {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    height: auto; }
    .slider__items:not(:last-child) {
      margin-right: 4rem; }
    .slider__items-image {
      object-fit: cover;
      width: 100%;
      height: 21rem; }

.footer {
  grid-area: footer; }

.main--recipesPage {
  display: grid;
  grid-template-areas: "list aside";
  grid-template-columns: 2fr 0.7fr; }

.recipes-list {
  grid-area: list; }

.aside__recipes {
  grid-area: aside;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .aside__recipes::before {
    background: url(https://images.unsplash.com/photo-1589125632234-718710bcbb12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: contain;
    content: "";
    position: absolute;
    transform: rotate(180deg);
    width: 200%;
    height: 200%;
    z-index: -1; }
