.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: calc(100vh - #{$HTotalHeader});
    background: url(../img/back_login.jpeg) no-repeat center;
    background-size: cover;
} 

.login_form {
    width: 30%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include respond(tab-land) {
        width: max-content;
      }
      @include respond(tab-port) {
        width: max-content;
      }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background-color: rgba(0,0,0,0.1);
    }
}

.login_title {
    
    font-size: 5rem;
    color: $color-white;
    margin-bottom: 3rem;
    z-index: 1;
}
   
p[class="login_title"] ~ input {
    z-index: 1;
    //margin-bottom: 18rem;
    height: 4.5rem;
    border-radius: 0;
    width: 100%;
    padding-left: 2rem;
    border: none;
}


.input_login {
    z-index: 1;
    background-color: $color-white;
    &:not(:first-of-type) {
        margin-top: 2rem;
    } 
    &::placeholder{
        color: black;
        font-size: 1.6rem;
        
    }
}

.submit_login {
    
    color: $color-white;
    background-color: $color-orange;
    margin-top: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
       background-color: lighten($color-orange, 10%);
    }    
}

.createAccount-btn {
    background-color: white;
    border: .5px solid #c9975f;
    color: #c9975f;
    margin-top: 3rem;
    text-transform: uppercase;
    cursor: pointer;
}

#logout {
    display: none;
}