.frame{
    display: flex;
    padding-top: 4rem;
}

em {
    font-style: normal;
    color: $color-dark-grey;
    margin-right: 0.2rem;
}

.author_recipe {
    font-weight: 400;
    font-size: 1.1rem;
    color: $color-orange;
    text-transform: uppercase;
}
.image--oneRecipe {
    width: 100%;
}

.sub-part {
    font-size: 1.6rem;
    font-style: normal;
}

.logo_mail {
    margin-top: 4rem;
    height: 15rem;
}

.recipes-details > h3 {
   
    font-weight: 700;
    //color: $color-orange;
    margin: 1.5rem 0;
    font-size: 1.7rem;
}

.recipes-details > ul, ol {
    margin-left: 1rem;
}

.recipes-details > ul, ol > li {
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
}