.frame{
    display: flex;
    padding-top: 4rem;
}

em {
    font-style: normal;
    color: $color-dark-grey;
    margin-right: 0.2rem;
}

.author_recipe {
    font-weight: 400;
    font-size: 1.1rem;
    color: $color-orange;
    text-transform: uppercase;
}
.image--oneRecipe {
    width: 100%;
}