.main--recipesPage{
    display: grid;
    grid-template-areas: 
    "list aside";
    
}

.recipePage_blockLeft {
    width: 75%;
}
.recipes-container{
    display: flex;
    width: 100%;
    
}

.heading {
    &--oneRecipe {
        margin-bottom: 3rem;
    }
}



.recipePage-blockRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 25%;
    margin-left: 5rem;
    height: 55rem;
    background: url(../img/bathroocleaner.jpg) no-repeat;
    background-position: center;
    
    background-size:cover ;

    position: sticky;
    top: calc(#{$HTotalHeader} + 3rem);
    //position: relative;
    &::before{
        content: "";
        position:absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: -1;
    }
}


    

.recipePage-blockRight__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 600;
    z-index: 1;
    line-height: 2;
    
}

.logo_mail {
    cursor: pointer;
}