.main--recipesPage{
    display: grid;
    grid-template-areas: 
    "list aside";
    grid-template-columns: 2fr 0.7fr;
}

.recipes-list {
    grid-area: list;
}

.aside__recipes {
    grid-area: aside;
    width: 100%;
    position : relative;
    overflow: hidden;
    &::before{
        background: url(https://images.unsplash.com/photo-1589125632234-718710bcbb12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
        //background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        content:"";
        position: absolute;
        transform: rotate(180deg);
        width: 200%;
        height: 200%;
        z-index: -1;
    }
}