.banner-box {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--recettes{
        background-image: url(../img/baking.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        
    }
}